
html{
   box-sizing: border-box;

   }

   *, *::before, *::after {
     box-sizing: inherit;
   }

h1,h2,h3,h4,p,nav{
  font-family: 'Noto Sans', bold;
}

h1{
margin:0;
color:#fff;
text-align: center;
position:relative;
top:8px;
right:175px;
margin-right: 5px;
}

header{
  background-color:#e7001d;
  width:189%;
  display:block;
}

h4{
  font-size:2rem;
  text-align: center;
  }


nav{
overflow:hidden;
clear:left;
margin:0;

}



nav li{
  text-align:left;
  padding: 1em;
  float:left;
  width:50%;
  border:1px solid #000;
  background-color:#222222;
}


nav li:hover {
  background-color:#929292;
}
nav a{
  padding:0.5em;
  color:#fff;
  text-decoration:none;
  font-size:1.15 rem;
}

nav ul{

  list-style-type: none;
  padding:0;
  margin:0;


}

  header p{
    text-align: center;
  }


  header .symbol{
    font-size:3em;
    padding:0;
  }



  h3 {
    font-size: 0rem;
    color:#fff;
    text-align: center;
    position:absolute;
    bottom:120px;
    left:5px;
    }

 .medallion{
   width:15%;
   position:absolute;
   left:170px;
   top:7px;
   border:0;
 }

img{
     width:100%;
     text-align:center;
}

div img{
  width: 50%;
  float: left;
}

.dragon{
  background-color:#e4c22a;
  border: 1px solid white;
  overflow: hidden;
}

.goat{
  background-color:#222222;
  border: 1px solid white;
  overflow: hidden;
  color:#fff
  }

.rooster{
  background-color:#bc0017;
  border: 1px solid white;
  overflow: hidden;
  color:#fff
}
.ox{
    background-color:#e4c22a;
    border: 1px solid white;
    overflow: hidden;
  }

 h2{
  margin:0;
  color:#fff;
  text-align: center;
  width:100%;
  font-size:.7rem;
  position:relative;
  top:2px;
  right:179px;
  margin-right: 12px;
  display:block;
}

 footer{
   background-color:#222222;
   color:#fff;
   text-align: center;
   font-size: .8rem;
   padding:1em;
   }

 h3{
   text-align: center;
   font-size:1.85rem;
   float:none;
   position:absolute;
   top:292px;
   right:23px;
 }
